PORT=5006
NODE_ENV=development
JWT_SECRET=your_jwt_secret_here
CORS_ORIGIN=http://localhost:3006

DATABASE_URL="postgresql://user:password@host:6543/postgres?options=-csearch_path%3Dhr_hub,public&sslmode=require"
DIRECT_URL="postgresql://user:password@host:5432/postgres?options=-csearch_path%3Dhr_hub,public&sslmode=require"

GEMINI_API_KEY=""
